

main{
    min-height: 80vh;
}

.logo{
    max-height: 20vh;
    max-width:200px;
}

footer{
    background-color: #292b2c;
    color:white;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Miltonian Tattoo', cursive;
    text-align:center;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color:#292b2c;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:#292b2c;
}

.nav-link{
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.progress-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #F58500;
}

.checkout-bar{
    height: 3vh;
}

.nav-link:hover{
    color:#F58500;
}

.icon-dark{
color:#0e0d0d;
font-size:24px;
}

.icon-dark:hover{
color:#F58500;
}



.carousel-h{
    color:#292b2c;
    font-family: 'Miltonian Tattoo', cursive;
    text-align:center;
    font-size:large;
    padding: 3;
    margin-top:3;
}

.carousel-p{
    
    color:#292b2c;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
}

.home-caption{
    background-color:white;
    top: 50%;
    transform: translateY(-50%);
    min-height:16vh;
    max-height:18vh;
    max-width:80%;
    background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
    background: rgba(255, 255, 255, 0.85);
}

p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.large-image{
    width:80vw;
    display:block;
    margin:auto;
}

.btn-center{
   
    margin:auto;
    display:block;
}

.message-alert{
    font-family: 'Montserrat', sans-serif;
    color:red;
    font-weight:bold;
}

.message-alert-success{
    font-family: 'Montserrat', sans-serif;
    color:green;
    font-weight:bold;
}